* {
    margin: 0;
    padding: 0;
    font-family: "noto-sans";
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.main {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* SECTION Login Page */
.main#login-page {
    background-position: center;
    background-size: cover;
    display: flex;
    transition: transform 0.3s cubic-bezier(.55,-0.01,1,.4);
}

.login-page#login-form-container {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}

.login-page#login-text {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 3px black;
    transition: transform 0.3s ease;
}

.login-page#login-form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

.login-page#username-input {
    width: 100%;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    color: white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.login-page#password-input {
    width: 100%;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
    color: white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.login-page#username-input::placeholder {
    color: white;
    opacity: 0.8;
}

.login-page#password-input::placeholder {
    color: white;
    opacity: 0.8;
}

.login-page#verif-box {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-size: 25px;
    margin-top: 175px;
}

.login-page#plus-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page#plus-1, .login-page#plus-2, .login-page#plus-3, .login-page#plus-4 {
    position: absolute;
    opacity: 0;
    transition: transform 0.3s ease;
    color: white;
    text-shadow: 0px 0px 2px black;
}

.login-page#plus-3 {
    transform: translate(31px, -31px);
}

.login-page#plus-4 {
    transform: translate(-30px, -31px);
}

.login-page#outer-box {
    position: absolute;
    background-color: rgba(233, 233, 233, 0.5);
    width: 45px;
    height: 45px;
    transform: scale(0.01);
    transition: transform 0.3s ease;
}

.login-page#inner-box {
    position: absolute;
    border: 3px solid white;
    width: 23px;
    height: 23px;
    border-radius: 23px;
    transform: scale(0.01);
    transition: transform 0.3s ease;
}

.login-page#outer-box-left-top-edge, .login-page#outer-box-left-bottom-edge, .login-page#outer-box-right-top-edge, .login-page#outer-box-right-bottom-edge {
    position: absolute;
    width: 15px;
    height: 15px;
}

.login-page#outer-box-left-top-edge {
    top: -3px;
    left: -3px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-top-left-radius: 5px;
}

.login-page#outer-box-left-bottom-edge {
    bottom: -3px;
    left: -3px;
    border-bottom-left-radius: 5px;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
}

.login-page#outer-box-right-top-edge {
    top: -3px;
    right: -3px;
    border-top-right-radius: 5px;
    border-top: 3px solid white;
    border-right: 3px solid white;
}

.login-page#outer-box-right-bottom-edge {
    bottom: -3px;
    right: -3px;
    border-bottom-right-radius: 5px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
}

.login-page#box-scanner {
    width: 100%;
    height: calc(100% + 16px);
    position: relative;
    top: -8px;
}

.login-page#scanner-container {
    width: 100%;
    height: calc(100% - 16px);
    position: relative;
    top: 8px;
    overflow-y: hidden;
}

.login-page#scanner-canvas {
    width: 100%;
    height: calc(100% + 16px);
    position: relative;
    top: -8px;
}

.login-page#background-video {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    z-index: 0;
}
/* !SECTION */

/* SECTION Loading Page */
.main#loading-page {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.loading-page#loading-logo {
    width: 150px;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    transition: opacity 0.5s ease;
}

.loading-page#progress-bar-container {
    width: 200px;
    height: 5px;
}

.loading-page#loading-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading-page#loading-progress {
    position: absolute;
    height: calc(50% - 90px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    bottom: 0;
    gap: 10px;
    transition: opacity 0.5s ease;
}

.loading-page#progress-percentage {
    font-size: 1rem;
}

.loading-page#progress-bar {
    background-color: black;
    height: 100%;
    width: 0px
}

.loading-page#particle-canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
/* !SECTION */

/* SECTION Menu Page */
.menu-page#interlude-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.menu-page#background-video {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    opacity: 0;
}

.menu-page#navbar {
    width: calc(100% - 9px);
    height: 26px;
    background-color: #f9fafc;
    color: rgb(72, 100, 154);
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid rgba(56, 69, 85, 0.3);
    margin-top: -60px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 2px;
    padding-right: 7px;
    gap: 7px;
    transition: margin-top 0.3s ease;
}

.menu-page#exit-button {
    position: absolute;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 20px;
    background-color: rgb(72, 100, 154);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    left: 20px;
    cursor: pointer;
}

.menu-page#selection-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(55% - 20px);
    height: calc(100% - 70px);
    background-color: transparent;
    padding: 10px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.menu-page#music-sound-toggle {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.menu-page#svg-volume-high {
    position: absolute;
    fill: rgb(78, 90, 145);
    width: 20px;
    aspect-ratio: 1/1;
    transition: transform 0.3s ease;
}

.menu-page#svg-volume-xmark {
    position: absolute;
    fill: rgb(78, 90, 145);
    width: 20px;
    aspect-ratio: 1/1;
    transform: translateY(30px);
    transition: transform 0.3s ease;
}

.menu-page.navbar-divider {
    position: relative;
    color: rgba(128, 128, 128, 0.555);
    font-size: 15px;
    transform: skewX(10deg) skewY(-40deg);
}

.menu-page#date, .menu-page#time {
    position: relative;
    color: rgb(82, 83, 90);
    font-weight: 600;
    font-size: 15px;
}

.menu-page#username {
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    left: 80px;
    border-bottom: 5px solid yellow;
    top: 5px;
}

.menu-page.selection-object {
    width: 90%;
    height: 80px;
    border-radius: 10px;
    border: 2px solid rgb(192, 205, 207);
    position: relative;
    background-color: black;
    background-position: center;
    background-size: cover;
    padding-top: 6px;
    padding-left: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-page.selection-object:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 3px white;
}

.menu-page.selection-object::before {
    position: absolute;
    content: "";
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(163deg, white 10%, transparent 40%);
}

.menu-page.selection-text {
    font-size: 30px;
    color: rgb(72, 100, 154);
    -webkit-text-stroke: 0.3px white;
    font-weight: 1000;
    position: relative;
}

.menu-page#transition-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
/* !SECTION */